<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72963671933-n89uugabfb09udqcm186h6vk9nauv38k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72963671933-n89uugabfb09udqcm186h6vk9nauv38k</string>
	<key>API_KEY</key>
	<string>AIzaSyABgL0QuSHkyGbO5hRtO_LP0q_UmEETS18</string>
	<key>GCM_SENDER_ID</key>
	<string>72963671933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.yoot01</string>
	<key>PROJECT_ID</key>
	<string>yoot01</string>
	<key>STORAGE_BUCKET</key>
	<string>yoot01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72963671933:ios:51ab5030c26255dcfc6e14</string>
</dict>
</plist>